<html>
    <head>
        <title>Dhruva's website</title>
    </head>
    <body>
        <h1>Fucking lit nerd</h1>
        <h2>This one should be smaller than the above one</h2>
        <h3>Yet smaller</h3>

        <p>Hi there <br /><em><strong>Tanvi </strong>Joshi</em></p>
        <p>You're on the internet<br /> You could do the following things:
        <ul>
        <li>use <a href="https://www.shmoop.com">shmoop</a></li>
        <li>just wing it</li>
        <li>make out with me</li>
        </ul>
        </p>
    </body>
</html>
